# PostgreSQL configuration
POSTGRES_DB=POSTGRES_DB
POSTGRES_HOST=POSTGRES_HOST # pokaneznayu
POSTGRES_PORT=POSTGRES_PORT
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD

# JWT token configuration
SECRET_KEY=X0rgASnlwBBKTmFN5UCSNMHHi1k4Twr1cQGp7PCSHO0
ALGORITHM=HS256

# Logging configuration
LOG_LEVEL=LOG_LEVEL
LOG_FORMAT=LOG_FORMAT
LOG_FILE=LOG_FILE
LOG_BACKUP_COUNT=LOG_BACKUP_COUNT
LOG_WRITE_STATUS=False # True or False