# PostgreSQL configuration
POSTGRES_DB=POSTGRES_DB
POSTGRES_HOST=POSTGRES_HOST # class_api_db
POSTGRES_PORT=POSTGRES_PORT
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD

# JWT token configuration
SECRET_KEY=SECRET_KEY
ALGORITHM=ALGORITHM

# Application Configuration
APPLICATION_PORT=APPLICATION_PORT
APPLICATION_HOST=APPLICATION_HOST

# Docker Compose Configuration
DOCKER_EXPOSED_PORT=DOCKER_EXPOSED_PORT

# Logging configuration
LOG_LEVEL=LOG_LEVEL
LOG_FORMAT=LOG_FORMAT
LOG_FILE=LOG_FILE
LOG_BACKUP_COUNT=LOG_BACKUP_COUNT
LOG_WRITE_STATUS=False # True or False